<footer id="footer" class="footer">
  <div class="container">
    <p>footer</p>

    <!-- block with social networks -->
    <div class="social">
      <a href="https://facebook.com/mysecondspace" target="_blank"></a>
      <a href="https://twitter.com/mysecondspace" target="_blank"></a>
      <a href="https://github.com/mysecondspace" target="_blank"></a>
      <a href="https://linkedin.com/mysecondspace" target="_blank"></a>
      <a href="https://instagram.com/mysecondspace" target="_blank"></a>
    </div>
  </div>
</footer>
